New folder/lookup-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>searchleadobject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>lead_neme</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varselecteid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varselectidfullname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lookup</label>
    <processType>Flow</processType>
    <screens>
        <name>lead_input</name>
        <label>lead input</label>
        <locationX>252</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>maching_lead</targetReference>
        </connector>
        <fields>
            <name>lead_neme</name>
            <dataType>String</dataType>
            <fieldText>lead neme</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>maching_lead</name>
        <label>maching lead</label>
        <locationX>458</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>result</targetReference>
        </connector>
        <fields>
            <name>maching_lead_recard</name>
            <choiceReferences>searchleadobject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>maching lead recard</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>result</name>
        <label>result</label>
        <locationX>701</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lead_id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varselecteid</elementReference>
            </defaultValue>
            <fieldText>lead id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>leadname</name>
            <fieldText>selected lead name is{!varselectidfullname}{!varselectidfullname}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>lead_input</startElementReference>
    <variables>
        <name>varselecteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varselectidfullname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
